{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "rules": {
        "no-console": 0,
        "react/jsx-filename-extension": [0],
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
    },
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
}